<div class="col-md-11 user-container" style="margin-top:1%; margin-bottom:1%;margin-left:4%;border:2px solid">
  <h2 class="text-center" style="margin-top:1%">Login</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email/Mobile Number :</label>
      <input type="text" formControlName="Email" placeholder="Sub Category Value" name="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="text" formControlName="pwd" placeholder="Password" name="pwd" class="form-control" id="pwd">
    </div>
    <button class="btn btn-success" style="width:10%;margin-top:2%;margin-bottom:2%">Add</button>
  </form>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
  </ngx-spinner>
</div>

