<table>
  <tr>
    <td style="width:90px;vertical-align:top">
      <span *ngFor="let n of imageArr" style="width:100%;float:left;margin-bottom:2px">
        <img [src]="n" style="height:70px;width:70px;cursor:pointer;margin-left:5px" (click)="ImageClick(n)" />
      </span>
    </td>
    <td style="vertical-align:top">
      <span style="width:100%;float:left;margin-bottom:2px">
        <img [src]="selImage" style="height:300px;width:300px;cursor:pointer;margin-left:5px" />
      </span>
    </td>
    <td style="vertical-align:top">
      <table>
        <tr><td><b>{{shopItem.ItemName}}</b></td></tr>
        <tr>
          <td><div>product contains.</div><div>{{shopItem.ItemName}}</div></td>
        </tr>
        <tr>
          <td>
            <b style="font-size:large">{{shopItem.OfferPricetoCustomer | currency: 'INR'}}</b>
            <span style="text-decoration:line-through">&ensp;Rs.{{shopItem.SellingPricetoCustomer}}</span>
            &ensp;<b>({{perc}}% OFF)</b>
            <hr />
          </td>
        </tr>
        <tr>
          <td>
            <div>Qty</div>
            <select>
              <option disabled>Select Quantity</option>
              <option *ngFor="let unit of units">{{unit}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <button>Buy Now</button>
            <button>Add to cart</button>
          </td>
        </tr>

      </table>

    </td>
  </tr>
</table>
