<div class="col-md-11 user-container" style="margin-top:1%; margin-bottom:1%;margin-left:4%;border:2px solid">
  <h2 class="text-center" style="margin-top:1%">Change Password</h2>
  <div>
    <span *ngIf="isError">{{message}}</span><br />
    <span *ngIf="isSuccess">{{message}}</span>
  </div>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="pEmailId">Email:</label>
      <input type="text" formControlName="pEmailId" placeholder="Email" name="pEmailId" class="form-control" id="pEmailId">
      <!--<div *ngIf="f.pEmailId.touched && f.pEmailId.invalid" class="alert alert-danger">
        <div *ngIf="f.pEmailId.errors.alphaNumeric">Specical characters not allowed.</div>
      </div>-->
    </div>
    <div class="form-group">
      <label for="pPhoneNo">Mobile Number</label>
      <input type="text" formControlName="pPhoneNo" placeholder="Mobile Number" name="pPhoneNo" class="form-control" id="pPhoneNo">
    </div>
    <div class="form-group">
      <label for="pOldPass">Old Password:</label>
      <input type="text" formControlName="pOldPass" placeholder="Old Password" name="pwd" class="form-control" id="pOldPass">
    </div>
    <div class="form-group">
      <label for="pNewPass">New Password:</label>
      <input type="text" formControlName="pNewPass" placeholder="New Password" name="pNewPass" class="form-control" id="pNewPass">
    </div>
    <button class="btn btn-success" style="width:10%;margin-top:2%;margin-bottom:2%">Reset Password</button>
  </form>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
  </ngx-spinner>
</div>

